body {
  margin: 0;
  font-family: Garamond, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  background-image: url('https://c1.wallpaperflare.com/preview/71/573/220/whitespace-business-office-blog-blogging-create.jpg'); /* Path to your background image */
  background-size: cover;
  background-position: center;
}

.App-header{
 color: black;
 font-size: 40px;
 text-align: left;
  
}

#Q{
  color: black;
  font-size: 50px;
  text-align: right;
}
